# DOCKER-COMPOSE env
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="root"
POSTGRES_DB="db_dev"

# APP ENV
NAME="dealls"
ENV="development"
APP_PORT=":8080"
DB_READ_HOST="db"
DB_READ_USER=${POSTGRES_USER}
DB_READ_PORT="5432"
DB_READ_NAME=${POSTGRES_DB}
DB_READ_PASSWORD=${POSTGRES_PASSWORD}
DB_READ_EXTRAS="sslmode=disable"
DB_WRITE_HOST=${DB_READ_HOST}
DB_WRITE_USER=${DB_READ_USER}
DB_WRITE_PORT=${DB_READ_PORT}
DB_WRITE_NAME=${DB_READ_NAME}
DB_WRITE_PASSWORD=${DB_READ_PASSWORD}
DB_WRITE_EXTRAS=${DB_READ_EXTRAS}
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_PASSWORD=""
APM_ENABLED=false